@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     background: linear-gradient(45deg, #ffaf00, #bb02ff);
//     background-attachment: fixed;
// }
.container {
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    border-radius: 20px;
}

.container:hover .card {
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}

.container .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(80px at right 0);
    text-align: center;
}

.container .card .circle h2 {
    color: #fff;
    font-size: .9em;
    padding: 30px 0;
}

.container .card .contenido {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    page-break-after: 20px;
    text-align: center;
}

.container .card .contenido p {
    color: #0f0505;
    width: 100%;
    margin: auto;
    text-align: left;
}

.container .card .contenido a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 30px;
}

.container .card .contenido img {
    width: 50%;
    height: 88%;
    margin: 1px
}

.container .card:nth-child(1) .circle {
    background: #ff1111;
}