<div class="container">
    <div class="card">
        <div class="circle">
        </div>
        <div class="contenido">
            <p>
                <b>Titulo original:</b> {{ original_title }} <br>
                <b>Descripcion: </b>{{ overview }} <br>
                <b>Titulo: </b> {{ title }} <br>
                <b>Popularidad:</b> {{ popularity }}

            </p>
        </div>
    </div>
</div>