<div class="container">
    <div class="card">
        <div class="circle">
            <h2>{{ pelicula.title }}</h2>
        </div>
        <div class="contenido">
            <img [src]="pelicula.poster_path | imagen">
            <a (click)="presentModal()">Read more</a>
        </div>
    </div>
</div>