<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Movies
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <div *ngFor="let movie of lastMovies; let ind=index">

            <app-pelicula [pelicula]="movie"></app-pelicula>

        </div>
    </div>
</ion-content>